<style>
	/*  ----------------------------------------
    Layout & Styling
    ----------------------------------------*/

* {
    color:              #222;
    font-family:        sans-serif;
    margin:             0;
    padding:            0;
    }

h1 {
    padding:            10px;
    font-size: 90px;
    letter-spacing: 10px;
    line-height: 90px;
    }

#wrap {
    margin:             auto;
    padding:            20px;
    }

.thumbnail {
    float:              left;
    margin:             10px;
    }


/*  ----------------------------------------
    Required
    ----------------------------------------*/

#thumbnail-1 {
    background-color:   #B6D884;
        /* Replace with background image (CSS) or image (HTML) */
    }
#thumbnail-2 {
    background-color:   #FFED81;
    }
#thumbnail-3 {
    background-color:   #F8A792;
    }
#thumbnail-4 {
    background-color:   #877BB9;
    }
#thumbnail-5 {
    background-color:   #6ACBDE;
    }
.thumbnail {
    height:             150px;
    width:              250px;
    }
        #thumbnail-1:hover:before {
            content:            "De viaje";
            }
        #thumbnail-2:hover:before {
            content:            "Asalto en un avión";
            }
        #thumbnail-3:hover:before {
            content:            "Reto mental";
            }
        #thumbnail-4:hover:before {
            content:            "Chicolas";
            }
        #thumbnail-5:hover:before {
            content:            "Monera";
            }
        .thumbnail:hover:before {
            background:         rgba(0,0,0,0.75);
            color:              #FFF;
            display:            block;
            line-height:        150px;
            text-align:         center;
            }


#wordbttn{

	color: white;
    list-style: none;
    background-color: #E5E5E5;
    border: 5px solid;
    border-bottom-color: #ADADAD;	
    border-right-color: #ADADAD;
    border-left-color: #dfdcdc;	
    border-top-color: #ececec;


}


</style>

<div style="margin-top:70px;height:300px;" class="row">
  <a href=''>

  <div onclick="score_elem.innerHTML = parseInt(score_elem.innerHTML)++;" id="wordbttn" class="span8 offset2">

  	
        <div style="text-align:center">
        	<h1><%= @word %></h1>
        	<h1><%= @word2 %></h1>


        </div>
    
    
  </div>
  </a>
  <div class="span2">
    <a href="javascript:play_single_sound();">Play</a>
  </div>
</div>


<audio id="audiotag1" src="Solid_Break_100.wav" preload="auto"></audio>

<script type="text/javascript">


	function play_single_sound() {
		document.getElementById('audiotag1').play();
	}

	var score_elem = document.getElementById("score");

    

    
</script>




<div id="wrap">
        <a href='/'>
        <div class="thumbnail span4" id="thumbnail-1">
        </div>
        </a>
        <a href='/2'>
        <div class="thumbnail span4" id="thumbnail-2">
        </div>
        </a>
         <a href='/3'>
        <div class="thumbnail span4" id="thumbnail-3">
        </div>
        </a>
         <a href='/4'>
        <div class="thumbnail span4" id="thumbnail-4">
        </div>
        </a>
    </div>
